@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f3e7;
  --foreground: #181f30;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
